/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS para paleta de cores */
:root {
    --main-bg-color: #00362b; /* Dark Green */
    --highlight-color: #00ad75; /* Light Green */
    --secondary-highlight-color: #00c382; /* Lighter Green */
    --text-color: #f0f8f0; /* Off-white */
    --sidebar-bg-color: #022e25; /* Darker Green */
    --cta-button-color: #005e4d; /* Button Green */
}

/* Estilos gerais */
body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0; /* Sem padding no body */
}

/* Contêiner principal */
.app-container {
    display: flex;
    flex-direction: row; /* Sidebar e conteúdo lado a lado */
}

/* Sidebar */
.sidebar {
    width: 220px; /* Largura fixa para a sidebar */
    padding: 15px;
    height: 100vh; /* Ocupa toda a altura da tela */
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sidebar-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100; /* Mantém a sidebar acima de outros elementos */
}

/* Estilos para o logo */
.logo {
    width: 150px; /* Tamanho ajustado do logo */
    height: auto; /* Manter a proporção */
    margin-bottom: 20px; /* Espaçamento abaixo do logo */
}

/* Contêiner de conteúdo */
.content {
    margin-left: 220px; /* Espaçamento da sidebar */
    padding: 20px;
    width: calc(100% - 220px); /* Expandir o conteúdo com base no espaço disponível */
}

.invoices-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.invoices-table th,
.invoices-table td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--text-color);
    text-align: left;
}

.invoices-table th {
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 0.9rem;
}

.invoices-table td {
    background-color: #004c40;
    color: var(--text-color);
    font-size: 0.85rem;
}

/* Filtros */
.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--highlight-color);
    background-color: #004c40;
    color: var(--text-color);
    width: 200px;
}

.filters input::placeholder {
    color: #a3c6c1;
}

/* Botões de ano */
.years button {
    background-color: #004c40;
    color: var(--text-color);
    border: 1px solid var(--highlight-color);
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.years button:hover {
    background-color: var(--highlight-color);
}

/* Estilos de cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}


/* Estilização de links */
a {
    color: var(--highlight-color);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: var(--secondary-highlight-color);
}

/* Botões */
button {
    background-color: var(--cta-button-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--highlight-color);
}

/* Contêiner dos gráficos */
.chart-container {
    background-color: var(--sidebar-bg-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px; /* Espaçamento abaixo dos gráficos */
}

/* Campos de input e select */
input, select {
    background-color: var(--sidebar-bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--highlight-color);
    padding: 8px;
    border-radius: 5px;
}

/* Rodapé */
footer {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilização dos cards no Dashboard */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanhos iguais */
    gap: 20px; /* Espaçamento entre os cards */
    margin-bottom: 30px; /* Espaçamento abaixo da seção dos cards */
}

.card {
    background-color: #fff; /* Fundo branco */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    text-align: left; /* Alinhado à esquerda */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaço entre o título e o valor */
    align-items: center; /* Centraliza horizontalmente o conteúdo */
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Largura do conteúdo do card */
}

.card-icon {
    background-color: var(--highlight-color); /* Cor de fundo do ícone */
    color: #fff;
    border-radius: 50%; /* Formato circular */
    width: 40px; /* Aumenta o tamanho do ícone */
    height: 40px; /* Aumenta o tamanho do ícone */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; /* Maior espaçamento entre ícone e texto */
    font-size: 1.2rem; /* Aumenta o tamanho do ícone */
}

.card h3 {
    margin-bottom: 5px;
    color: var(--main-bg-color); /* Mantém a paleta: cor definida para o fundo principal */
    font-size: 1rem; /* Aumenta o tamanho da fonte para melhor legibilidade */
    font-weight: 600; /* Adiciona peso para destacar o título */
}

.recharts-default-tooltip {
    background-color: rgba(255, 255, 255, 0.9) !important; /* Fundo claro */
    color: #00362b !important; /* Texto escuro para contraste */
    border: 1px solid var(--highlight-color) !important;
    border-radius: 4px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.recharts-default-tooltip .recharts-tooltip-label {
    font-weight: 600;
    color: #00362b !important; /* Cor do label (ano-mês) */
}

/* Ajuste para a legenda do Recharts (se necessário) */
.recharts-legend-wrapper .recharts-legend-item text {
    fill: var(--text-color) !important; /* Usa a cor de texto principal do tema */
    font-size: 0.9rem !important;
    font-weight: 600;
}

.card p {
    font-size: 1.3rem; /* Diminuir o tamanho do valor */
    color: #00ad75; /* Cor do valor */
    font-weight: bold;
    margin: 0; /* Remove margem inferior */
}

.divider {
    width: 100%;
    height: 2px; /* Aumentar a altura para uma melhor visibilidade */
    background-color: #ccc;
    margin: 15px 0; /* Espaçamento consistente antes e depois da linha */
    flex-shrink: 0; /* Impede que o divisor encolha */
}

.card-comparison {
    font-size: 0.75rem; /* Tamanho um pouco maior para o texto de comparação */
    color: #777;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-comparison.increase {
    color: var(--highlight-color); /* Cor verde para aumento */
}

.card-comparison.decrease {
    color: #ff6347; /* Cor vermelha para diminuição */
}

.comparison-icon {
    font-size: 1.2rem;
    margin-left: 5px; /* Espaçamento entre texto e ícone */
}

/* Responsividade para dispositivos menores */
@media (max-width: 1200px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 768px) {
    .content {
        margin-left: 0; /* Remove margem da sidebar */
        width: 100%; /* Ocupa toda a largura */
    }

    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filters input {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .cards-grid {
        grid-template-columns: 1fr;
    }

    .card p {
        font-size: 1.6rem; 
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }

    .sidebar {
        width: 180px;
    }

    .content {
        width: calc(100% - 180px);
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }

    .sidebar {
        width: 150px;
    }

    .content {
        width: calc(100% - 150px);
    }

    .logo {
        width: 100px; 
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilo para dashboard container */
.dashboard-container {
    padding: 20px;
    margin-top: 10px; 
    width: 90%; 
    max-width: none; 
}

.dashboard-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Adiciona espaçamento abaixo dos gráficos */
.chart-container {
    background-color: var(--sidebar-bg-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    width: 100%; /* Garantir que o gráfico ocupe toda a largura */
}

@media (max-width: 600px) {
    .card h3 {
        font-size: 1rem;
    }

    .card p {
        font-size: 1.4rem;
    }
}
